.cards__list {
  list-style: none;
  padding: 20px 0 40px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  width: 100%;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
    padding-bottom: 20px;
  }
}
/*my commits & pushes seem to not be working correctly as the corrections i received are ones i already did? i would appreciate help on the topic if it something you could provide */