.card__like-button {
  background-image: url(../images/like-icon.svg);
  /* the link that gets attached with this correction says that the icon should be gray in its default state & black in its hover state so im unsure of the correction i need to do. the gray icon is pulled straight from the figma */
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 20px;
  background-color: transparent;
  border: none;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 100%;
  background-image: url(../images/like-icon-dark.svg);
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
margin: 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
max-width: 350px;
}

@media screen and (max-width: 630px) {
  .card__text {
    font-size: 16px;
    max-width: 250px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }

}