.card__like-button {
  background-image: url(../images/like-icon.svg);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
margin: 0;
}

@media screen and (max-width: 460px) {
  .card__text {
    font-size: 16px;
  }

}